* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px dotted black;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item.red {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: translateX(-20px);
  transition: background-color 1s, color 1s;
}

.item.red:hover {
  background-color: pink;
  color: black;
}

.item.green {
  width: 150px;
  height: 150px;
  background-color: green;
  /* animation: spin 1s linear infinite; */
}

.item.green:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    background-color: aquamarine;
  }

  30% {
    transform: rotate(45deg);
    background-color: black;
  }

  100% {
    transform: rotate(360deg);
    background-color: blueviolet;
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(0.5);
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(340deg, 55deg);
}
